body{
    margin:0;
    padding:0;
    background: #a20a0a;
}
.search-box{
    position:absolute;
    top:10%;
    left:10%;
    transform: translate(-50%,-50%);
    background:#ebebeb;
    height:5%;
    width:15%;
    border-radius: 40px;
    padding: 10px;

}
.search-btn{
    color: #f8efd4;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.search-txt{
    border: none;
    float: left;
    color:black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}
.categories{
    margin: 70px 0;
}
.column{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.column img{
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 200px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    justify-content: center;
}
.col-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 150px;
    transition: transform 0.5s;
    padding-top: 0%;
} 
.col-2 img{
    width: 50%;
    height: 150%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: ;
}
h4{
    color: #2d6187;
    font-weight: normal;
    font-size: 1.5em;
}
.col-2 p{
    font-size: 14px;
}
.col-2:hover{
    transform: translateY(-10px);
}
